Инструкция по выполнению:
1. Установите Jenkins на виртуальную машину
2.Установите необходимые плагины: Git, Pipeline
3.Настройте credentials для доступа к GitHub
4.Создайте новый Pipeline в Jenkins
5.Вставьте код pipeline.jenkins в конфигурацию
6.Запустите сборку


Важные моменты для пункта 6:

Чтобы "связать конвеер с системой контроля версий":
1.Создайте репозиторий на GitHub
2.Загрузите туда все скрипты и Jenkinsfile
3.В Jenkins при создании pipeline выберите "Pipeline script from SCM"
4.Укажите URL вашего репозитория

Jenkinsfile (переименуйте pipeline.jenkins в Jenkinsfile) должен быть в корне репозитория.

Что вам нужно сделать сейчас:
1.Создать репозиторий на GitHub
2.Загрузить туда все скрипты
3.Настроить Jenkins pipeline с интеграцией Git
4.Запустить и проверить работу

